@import "../../styles/variables.scss";

.news {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    overflow: auto;
}

.headline {
    padding: 0;
    margin: 0;
    h1 {
        color: var(--text-color);
        margin-top: 0;
    }
}

.author__name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-color);
    margin: 0;
}

.author {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: var(--border-radius);

    .author__text {
        padding: 0;
        margin: 0;
        color: var(--text-color);

        a {
            text-decoration: none;
            color: var(--accent-color);
        }
    }
}

.headline__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: var(--accent-color);
        text-decoration: none;
        border-radius: var(--border-radius);
        padding: 0.5rem 0.75rem;
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
        background-color: var(--button--bg-color);
        line-height: 1.5;
        margin: 0;
    }

    .headline__url {
        color: var(--button-color-inactive);
    }

    @media screen and (max-width: 720px) {
        display: block;

        a {
            order: -1;
        }

        p {
            margin-top: 20px;
        }
    }
}

.comments {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    h4 {
        margin: 0;
        color: var(--text-color);
    }

    button {
        font-size: 0.9rem;
        font-family: inherit;
        border: none;
        border-radius: var(--border-radius);
        padding: 0.5rem 0.75rem;
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
        background-color: var(--button--bg-color);
        line-height: 1.5;
        margin: 0;
        color: #3992ff;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            box-shadow: var(--box-shadow-active);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}
